.wrapper__table {
  .checkbox-block {
    z-index: 1;
  }

  .checkbox-checked{
    z-index: 4;
  }

  .checkbox-square {
    z-index: 3;
  }

  .selected .checkbox-block {
    z-index: 2;
  }
}



.checkbox-block {
  position: relative;
  width: 100%;
  height: 100%;
  //z-index: 1;
  display: block;

  .checkbox-checked{
    position: absolute;
    top: 3px;
    left: 69px;
    font-size: 15px;
    //z-index: 4;
    color: #0BC549;
  }
  .checkbox-square {
    position: absolute;
    top: 5px;
    left: 62px;
    //z-index: 3;
    font-size: 25px;
    opacity: 0.5;
  }
  i {
    outline: none!important;
  }
}

.selected .checkbox-block {
  //z-index: 2;
  margin-top: -2px;
  margin-left: -2px;
  outline: none!important;
}
.selected .table-cell-wrap {
  outline: none!important;
}