.view__no-tables {
  text-align: center;
}

.view__container {
  height: 86.5vh;
  user-select: none;
}

#header__caret {
  margin: 12px 10px 3px 10px;
  float: left;
  cursor: pointer;
}

#view__modal {
  max-width: 360px;
}

.view__selector {
  position: absolute;
  z-index: 3;
  width: 280px;
  height: 200px;
  padding: 10px;
  left: 40px;
  background-color: #FFF;
  border: 1px solid rgba(0,0,0, 0.3);
  border-radius: 4px;
}

.selector__options {
  height: 80%;
  overflow-y: auto;

}

.selector__option {
  color: black;
  padding: 5px;
  margin: 0 auto;
  border-radius: 4px;
  cursor: pointer;
}

.selector__option:hover {
  background: #EEE;
}

.option__notActive {
  opacity: 0!important;
}

.selector__add-view {
  float: left;
  margin-top: 7px!important;
}

.add-view__menu {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.add-view__option {
  cursor: pointer;
}

.add-view__option:hover {
  color: #AAA;
}

.hide {
  display: none;
}
