.tab_popup {
  position: absolute;
  bottom: -103px;
  left: 14px;
  width: 150px;
  height: 100px;
  border-radius: 4px;
  padding: 5px 5px 5px 10px !important;
  background-color: #000;
  color: #f1f1f1;
  z-index: 1000;

  .list_menu {
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}