#content__grid {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid #AAA;
}

th, td {
  padding: 10px;
}

tr td:first-child {
  width: 30px;
  text-align: center;
}

tr th:not(:first-child) {
  text-align: left;
}
