$cell-width: 155px;
$cell-height: 33px;
$icon-opacity: 0.6;
$cell-border: 0.5px solid rgba(170, 170, 170, 0.15);
$cell-border-top: 0.5px solid rgba(170, 170, 170, 0.15);
$cell-border-left: 0.5px solid rgba(170, 170, 170, 0.1);
$cell-padding: 0px;
.hide-header {
  margin-top: 10px;
  margin-bottom: -5px;
}
.wrapper__grid {
  display: inline-block;
  width: 100vw;
  height: 80.2vh;
  overflow: auto;
  border-top: 2px solid rgba(170, 170, 170, 0.5);
  background-color: #f5f5f5;
}

.grid__content {
  display: flex;
  // .display-field{
  //   display: block;
  // }
  // .none{
  //   display:none;
  // }
}

.content__wrapper {
  display: inline-table;
}

.wrapper__table {
  display: flex;
  background-color: #ffffff!important;

  .content__rows.row-options-field {
    .rows__selector.rows__row {
      background-color: #f5f5f5;
    }
  }
}

.content__body {
  display: flex;
  flex-direction: row;
}
.content__body {
  .field__items.row-options-field {
    .content__field.row-options-field {
      border-left: $cell-border-top;
      border-bottom: $cell-border-top;
    }
  }
}

.content__field {
  display: inline-block;
  border-left: $cell-border-left;
  //padding: 7px 5px 5px 5px;
  padding-right: 5px;
  margin: 0;
  width: $cell-width;
  min-width: $cell-width;
  min-height: $cell-height;
  background-color: #f5f5f5;
}

.content__field-title {
  display: inline-block;
  width: 83%;
  padding: 7px 0 5px 5px;
}

.field__items {
  display: flex;
  flex-direction: column;
}

.content__body:last-child {
  border-right: $cell-border-top;
}

.body__fields {
  border-right: $cell-border;
}

.field__item {
  display: inline-block;
  border-top: $cell-border-top;
  border-left: $cell-border-left;
  padding: $cell-padding;
  margin: 0;
  width: $cell-width;
  min-width: $cell-width;
  min-height: $cell-height;
  text-overflow: ellipsis;
  position: relative;
}

.field__item.selectedList {
  background-color: #f0f7ff;
}

.field__item.found {
  background-color: #f8ecce;
}

.field__item.foundCursor {
  background-color: #ffd66e;
}

.field__icon {
  opacity: $icon-opacity!important;
  vertical-align: top;
}

.field__name {
  display: inline-block;
  height: 17px;
  width: 98px;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  white-space: pre;
}

.field__change-type {
  float: right;
  cursor: pointer;
}

.rows__row {
  width: 37px;
  border-top: $cell-border-top;
  border-left: $cell-border-top;
  height: 33px;
  padding: 6px 4px 4px 1px;
  text-align: center;
}
.rows__row:first-child {
  border-top: 0;
}
.rows__row.rows__selector {
  height: 33px;
  padding: 7px 4px 4px 4px;
}

.item__add-field {
  width: 75px;
  min-width: 75px;
  text-align: center;
  padding: 7px;
  cursor: pointer;
  border-right: $cell-border;
  border-bottom: $cell-border;
  min-height: 33.5px;
  height: 33.5px;
}

.item__add-record {
  width: 100%;
  padding: 7px 0 0 9px;
  text-align: left;
  cursor: pointer;
  border: $cell-border;
  margin-bottom: 70px;
  background-color: #ffffff;
}

.item__add-field:hover, .item__add-record:hover {
  background-color: #EEE;
}

#search-block {
  i {
    cursor: pointer;
  }
}
.content__body .field__items.row-options-field .content__field.row-options-field {
  border-bottom: 0;
}
