.view__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

#header__caret {
  margin: 0 10px 0 20px;
}

#view-type__icon {
  display: inline;
}

#view-type__name {
  white-space: nowrap;
}

@media screen and (max-width: 650px) {
  .menu__text {
    display: none;
  }
}
#search-wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;

  .search-btn {
    background-color: #fff !important;
    padding: 11px 10px;
    margin: 0 20px 0 10px;
  }
}
.content__body:last-child {
  .field__items:first-child {
    .content__field {
      border-left: 0;
    }
    .field__items {
      .field__item {
        border-left: 0;
      }
    }
  }
}
