.view__header {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  border-bottom: 1px solid #EEE;
}

#header__caret {
  margin: 0 10px 0 20px;
}

#view-type__icon {
  display: inline;
}

#view-type__name {
  white-space: nowrap;
}

@media screen and (max-width: 650px) {
  .menu__text {
    display: none;
  }
}
#search-wrapper {
  position: relative;
  width: 350px;
  display: flex;
  justify-content: space-between;
  //border: 2px solid rgba(0, 0, 0, 0.12);

  .search-btn {
    background-color: #fff !important;
    padding: 11px 10px;
    margin: 0 20px 0 10px;
  }
}
