$cell-width: 155px;
$cell-height: 33px;
$icon-opacity: 0.6;
$cell-border: 0.5px solid rgba(170, 170, 170, 0.15);
$cell-border-top: 0.5px solid rgba(170, 170, 170, 0.15);
$cell-border-left: 0.5px solid rgba(170, 170, 170, 0.1);
$cell-padding: 0px;

.wrapper__grid {
  display: inline-block;
  width: 100vw;
  height: 73.3vh;
  overflow: auto;
  border-top: 2px solid rgba(170, 170, 170, 0.5);
}

.content__wrapper {
  display: flex;
  position: relative;
}

.content__body {
  display: flex;
  flex-direction: row;
  border-bottom: $cell-border-top;
}
.content__body {
  .field__items.row-options-field {
    .content__field.row-options-field {
      border-left: $cell-border-top;
      border-bottom: $cell-border-top;
    }
  }

}
.content__field {
  display: inline-block;
  border-left: $cell-border-left;
  padding: 7px 5px 5px 5px;
  margin: 0;
  width: $cell-width;
  min-width: $cell-width;
  min-height: $cell-height;
}

.field__items {
  display: flex;
  flex-direction: column;
}

.content__body:last-child {
  border-right: $cell-border-top;
}

.field__item {
  display: inline-block;
  border-top: $cell-border-top;
  border-left: $cell-border-left;
  padding: $cell-padding;
  margin: 0;
  width: $cell-width;
  min-width: $cell-width;
  min-height: $cell-height;
  text-overflow: ellipsis;
  position: relative;
}
.field__item.found {
  background-color: #f8ecce;
}
.field__item.foundCursor {
  background-color: #ffd66e;
}

.field__icon {
  opacity: $icon-opacity!important;
}

.field__change-type {
  float: right;
  cursor: pointer;
}

.rows__row {
  width: 37px;
  border-top: $cell-border-top;
  border-left: $cell-border-top;
  height: 33px;
  padding: 6px 4px 4px 1px;
  text-align: center;
}
.rows__row:first-child {
  border-top: 0;
}
.rows__row.rows__selector {
  height: 33px;
  padding: 7px 4px 4px 4px;
}

.item__add-field {
  width: 75px;
  min-width: 75px;
  text-align: center;
  cursor: pointer;
  border: $cell-border-top;
  //border-left: 0;
  border-top: 0;
  min-height: 33.5px;
  //height: 33.5px;
}

.item__add-record {
  min-width: 0;
  width: 38px;
  padding-left: 7px;
  text-align: left;
  cursor: pointer;
  border: $cell-border-top;
  margin-bottom: 70px;
}

.item__add-field:hover, .item__add-record:hover {
  background-color: #EEE;
}

#search-block {
  i {
    cursor: pointer;
  }
}
.content__body .field__items.row-options-field .content__field.row-options-field {
  border-bottom: 0;
}