
.relative {
  position: relative;
}
.modal.team_modal, .modal.table_modal, .modal.share_modal, .modal.stack_modal {
  padding-bottom: 0;
}
.form-for-share {
        padding: 50px 150px 100px 150px !important;
    }

@media screen and (max-width:1200px) {
    #header__view-type{
         #view-type__name{
            margin-right: 5px;
        }
            .button__items {
            padding: 10px 12px !important;
        }
    }
    body, html {
        width: 100% !important;
        height: 100% !important;
    }
    #search-wrapper {
        width: 40px !important;
        
        .search-btn{
        margin: 0 18px 0 0px !important;
        }
    }
    .form-for-share {
        padding: 50px 70px 80px 70px !important;
    }
}

@media screen and (max-width:960px) {

    .user-profile-photo-wrapper{
        padding-left: 5px;
    }
    .form-for-share {
        padding: 50px 50px 80px 50px !important;
    }
    .grid__extra-menu {
        right: 30px;
    }
    .filter__menu {
        left: 40px !important;
    }
}

@media screen and (max-width:700px) {
   .home-page-body {
    .team-wrapper {
        .team-block-wrapper {
          min-width: 550px !important;
        }}}
    .sort__menu {
        left: 50px !important;
    }
    .filter__menu {
        left: 40px !important;
        .filter__item {
            flex-direction: column;
            .item__where{
                padding: 0px !important;
            }
            .item__conjunction{
                padding: 0px !important; 
            }
        }
    }
    .form-body-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto !important;
        .availableFormFieldContainer{
            margin: 0 auto;
            position: static !important;
            overflow-y: initial !important;
        } 
        .formContainer{
            position: static !important;
            padding: 24px 24px 48px 20px !important; 
            overflow-y: initial !important;
            overflow-x: initial !important;
        .form-wrapper {
            margin-bottom: 20px !important;
        }
            
        }
    }
}

@media screen and (max-width:480px) {
    .dashboard_header .menu-show-2 {
        left: 16% !important;
    }
   .home-page-body {
    .team-wrapper {
        .team-block-wrapper {
          min-width: 350px !important;
        }}}
    // .user-profile-photo-wrapper{
    //     width: 88%;
    //     padding-left: 3px;
    //     .change-avatar-input{
    //         width: 100%;
    //     }
    // }
    .form-for-share {
        padding: 20px 20px 30px 20px !important;
    }
    #user-profile-header{
    margin-top: 100px;
    text-align: center;

    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
        .ui.block.header{
          border: none !important;
          color: rgba(0,0,0,.5) !important;
          background: #ffffff !important;
          font-size: 20px !important;
          padding-left: 0 !important;
        }
        .ui.medium.image{
            width: 254px;
        }
  }
    .user-profile-wrapper{
        flex-direction: column;
    .form-block{
        flex-direction: column;
    }
    .user-profile-photo{
        margin: 0 auto !important;
    }
        .ui.medium.image {
            width: 230px !important;
        }
    }

}
@media screen and (max-width:340px) {
    #header__view-type{
        #view-type__name{
            margin-right: 5px;
        }
            .button__items {
            padding: 5px !important;
        }
        .ui.buttons:not(.basic):not(.inverted)>.button, .ui.buttons>.ui.button:not(.basic):not(.inverted) {
            padding: 5px !important;
        }
    }
    .dashboard_header{
        padding-right: 0px !important;
        padding-left: 20px !important;
        .label-header {
            margin-left: 30px !important;
        }
    }
    .header-base-name{
        font-size: 20px !important;
        margin-right: 0 !important;
    }
    #search-wrapper {
        width: 35px !important;
        .search-btn {
            width: 15px !important;
        }
    }

}