
.relative {
  position: relative;
}
.modal.team_modal, .modal.table_modal, .modal.share_modal, .modal.stack_modal {
  padding-bottom: 0;
}
.form-for-share {
        padding: 50px 150px 100px 150px !important;
    }

@media screen and (max-width:1200px) {
    #header__view-type{
            .button__items {
            padding: 10px 12px !important;
        }
    }
    body, html {
        width: 100% !important;
    }
    #search-wrapper {
        width: 40px !important;
        
        .search-btn{
        margin: 0 18px 0 0px !important;
        }
    }
    .form-for-share {
        padding: 50px 70px 80px 70px !important;
    }
}

@media screen and (max-width:960px) {

    .user-profile-photo-wrapper{
        padding-left: 5px;
    }
    #header__view-type{
            .button__items {
            padding: 10px 12px !important;
        }
    }
    .form-for-share {
        padding: 50px 50px 80px 50px !important;
    }
}

@media screen and (max-width:700px) {
   .home-page-body {
    .team-wrapper {
        .team-block-wrapper {
          min-width: 550px !important;
        }}}
    // #search-wrapper .search-btn{
    //     margin: 0 18px 0 0px !important;
    // }
    .form-body-wrapper {
        display: flex;
        flex-direction: column;
        overflow-y: auto !important;
        .availableFormFieldContainer{
            margin: 0 auto;
            position: static !important;
            overflow-y: initial !important;
        } 
        .formContainer{
            position: static !important;
            padding: 24px 24px 48px 20px !important; 
            overflow-y: initial !important;
            overflow-x: initial !important;
        .form-wrapper {
            margin-bottom: 20px !important;
        }
            
        }
    }
}

@media screen and (max-width:480px) {
   .home-page-body {
    .team-wrapper {
        .team-block-wrapper {
          min-width: 350px !important;
        }}}
    .user-profile-photo-wrapper{
        width: 88%;
        padding-left: 3px;
        .change-avatar-input{
            width: 100%;
        }
    }
    .form-for-share {
        padding: 20px 20px 30px 20px !important;
    }
    

}