.dashboard_header {
  background-color: #f2711c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  color: #ffffff;
  padding: {
    left: 20px;
    right: 20px;
  }
  user-select: none;

  a,
  a:hover {
    color: #ffffff;
    text-decoration: none;
    border-bottom: 0;
  }
  .base-icon-logo {
    font-size: 3em!important;
  }

  .label-header {
    font-weight: 700;
    font-size: 1.2rem;
    margin-left: 40px;
    display: flex;
}
  .info {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .header-icon {
      margin: 8px;
    }
  }
  .header-base-name {
    font-size: 25px;
  }
  .menu-show-2 {
    left:35%;
  }
  .menu-show-2
  .base-options-wrapper
  .base-options-list
  .base-options-list-item {
    color: black;
    font-weight: 100;
  }
  i.inverted.black.icon {
      color:white !important;
    }
  .menu-show-2
  i.inverted.black.icon {
      color:#747474 !important;
    }
  .menu-show-2
    i.small.icon{
      display: inline-block !important;
  } 

  #user-info {
    a {
      color: #FAFAFA !important;
    }
    i {
    color: #FAFAFA !important;
    }
  }
}