.new-base-wrapper {
  margin-left: 20px;
  width: 25%;
  text-align: center;
}
.new-base-container {
  margin: 0 auto;
  padding: 10% 5% 10% 5%;
  width: 80%;
  background-color: #D0FF51;
  font-size: 20px;
}
.menu {
  padding: 2%;
  background-color: #E1E1E1;
  font-size: 15px;
}
.none {
  display: none;
}
.base-name-input {
  border-radius: 5px;
  padding: 1%;
}
.base-color-pallete-item {
  width:25%;
  height: 100%;
  list-style: none;
}