.table-cell-inner {
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4px 10px;
    height: 100%;
    width: 100%;
    line-height: 24px;
}
.phone-input{
    width: 150px;
    height: 100%;
}
