$table-cell-width: 155px;

.table-cell-container{
  position: relative;
}

.table-cell {
  width: $table-cell-width;
  height: 32px;
}

.table-cell.selected,
.table-cell.active {
  border: 2px solid #6495ed;
  border-radius: 1px;
  position: absolute;
  background-color: #fff;
  z-index: 1;
}

.table-cell.selected .table-cell-wrap .table-cell-inner,
.table-cell.active .table-cell-wrap .table-cell-inner {
  padding: 2px 8px;
}

.table-cell .table-cell-wrap {
  width: 100%;
  height: 100%;

  .ui.input {
    width: 100%;
  }
}