.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper
        .one-base 
          .one-base-icon
            a:hover {
              border-bottom: 0 !important;
}
.home-page-body 
  .team-wrapper
    .base-list
      .base-name-header {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        width: 100px;
}

.base-list {
  .relative{
    position: relative;
  }
  .addBasePopover {
      width: 180px;
      height: 110px;
      background-color: white;
      position: absolute;
      top: 77px;
      left: -31px;
      border-radius: 5px;
      box-shadow: 0 4px 24px rgba(0,0,0,0.35);
      z-index: 2;
      .messageTip {
        content: '';
        display: block;
        background: white;
        width: 12px;
        height: 12px;
        transform: rotate(135deg);
        box-shadow: -2px 2px 3px 0 rgba(0,0,0,0.1);
        position: absolute;
        top: -4px;
        left: 84px;
        z-index: -1;
      }
      .options {
        color: #777777;
        font-size: 14px;
        padding: 8px 5px 8px 5px;
        border-bottom: 1px solid #e6e6e6;
        cursor: pointer;
          img {
            width: 20px;
            height: 18px;
            padding-left: 4px;
            display: inline-block;
            vertical-align: middle;
        }
        .text {
          display: inline;
          padding-left: 8px;
        }
      }
      .options:last-child{
          text-align: left;
          padding-bottom: 7px;
        }
      .options:hover{
          background-color: #f5f5f5;
      }
    }
  }