.field__ellipsis {
  float: right;
  position: relative;
}

.field__menu {
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin-top: -5px;
  margin-left: -100px;
  width: 200px;
  padding: 10px;
  border: .5px solid #AAA;
  border-radius: 5px;
  background-color: #EEE;
}

.content__body > .field__items:last-child {
  .field__menu {
    left: -74px;
  }
}

.menu__name {
  width: 80%;
  margin-bottom: 5px;
}

#menu__delete {
  margin-top: -3px;
  padding-left: 14px;
  cursor: pointer;
}

.menu__field-option {
  margin: 5px auto;
  border-radius: 5px;
  cursor: pointer;
}

.menu__field-option:hover {
  background-color: #DDD;
}

.hide {
  display: none;
}