.fields-menu-options-container{
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(34,36,38,.15);
    height: 37px;
    width: 80%;
    padding-top: 8px;
  .Select-control {
    margin-top: -8px;
    border:none !important;
    height: 35px !important;
  }
}
  .options-checkbox {
    margin-top: 10px;
    .ui.toggle.checkbox label {
      color: rgba(0,0,0,.65)!important;
    }
    .ui.toggle.checkbox .box:after, .ui.toggle.checkbox label:after {
      z-index:0 !important;
    }
    .ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
      z-index:0 !important;
    }
  }
.Select-clear-zone {
    display:none !important;
}
.label-text-wrapper {
  .label-text{
    opacity: .75;
    margin-bottom: 5px;
    font-size: 14px;
    margin-left: 2px;
    margin-top: 5px;
    font-weight: 700;
  }
 
  .ui.dropdown>.text {
    padding: 5px;
  }

  .option-input{
    padding: 7px;
    border: 1px solid rgba(34, 36, 38, 0.15);
    border-radius: 2px 0px 0px 2px;
  }
  .option-list{
    padding-left: 10px;
    margin: 0px;
  }
  .option-list-item{
    list-style: none;
    padding: 5px;
  }
  .option-input-btn{
    padding: 8px;
    border: none;
  }
  .delete-option{
    width: 15px;
    display: inline-block;
    margin-left: 5px;
    color: rgba(209,96,96,.95);
    font-weight: 900;
    padding: 0px 3px 2px 3px;
    cursor: pointer;
    text-align: center;
    height: 15px;
  }
}
.explanation-text-wrapper {
    padding-left: 4px;
    padding-right: 4px;
  .explanation-text {
    opacity: .75;
    box-sizing: border-box;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 13px;
  }
}
.button-wrapper{
  margin-left: 136px;
  margin-top: 10px;
  .save-btn{
    background-color: #2d7ff9;
    color: white;
    cursor: pointer;
    padding: 3px 0px 3px 0px;
    border-radius: 3px;
    font-weight: 500;
    width: 60px;
    text-align: center;
  }
  .save-btn:hover {
    background-color: #2750ae;  
  }
}


.field__ellipsis {
  float: right;
  position: relative;
  padding: 7px 5px 0 0;
}

.field__menu {
  display: inline-block;
  position: absolute;
  z-index: 2;
  margin-top: -5px;
  margin-left: -100px;
  width: 235px;
  padding: 10px;
  border: .5px solid rgba(170, 170, 170, 0.5);
  border-radius: 5px;
  background-color: #f6f6f6;
}

.content__body > .field__items:last-child {
  .field__menu {
    left: -105px;
  }
}

.menu__name {
  width: 80%;
  margin-bottom: 5px;
}

#menu__delete {
  margin-top: -3px;
  padding-left: 14px;
  cursor: pointer;
}

.menu__field-option {
  cursor: pointer;
}

.hide {
  display: none;
}