.stack_item {
  width: 32%;
  background-color: #f1f1f1;
  border-radius: 5px;
  margin-right: 15px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;


  &:nth-last-of-type(1) {
    margin-right: 0;
  }

  .stack_header {
    padding-top: 15px;
    padding-left: 23px;
    height: 46px;
    font-size: 16px;
    font-weight: 600;
  }

  .stack_records {
    flex-grow: 1;
    overflow-y: auto;
  }

  .stack_footer {
    margin-top: 20px;
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}