.sort__button {
  padding: 0 !important;
}

.sort__button:hover {
  border-radius: 4px;
  background-color: #DDD;
}

.button__items {
  padding: 10px 20px;
}

.sort__menu {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  max-width: 50rem;
  background-color: #FFF;
  border: 1px solid #AAA;
  border-radius: 4px;
  padding: 5px 10px;
  z-index: 5;
  position: absolute;
  top: 135px;
  left: 370px;
}

.sort__item {
  display: flex;
  width: 100%;
}

.item__sort-controls {
  display: flex;
  margin: auto 0;
}

.item__sort-by {
  padding: 4px 2px;
}

.item__then-by {
  padding: 4px 8px;
}

.menu__item {
  margin: 5px;
}

.item__select {
  padding: 2px 5px;
  background-color: #FFF;
  border-radius: 4px;
}

.item__label-sort-by {
  width: max-content;
}

.option__choices {
  display: flex;
  justify-content: space-between;
  width: 116px;
  border: 1px solid #AAA;
  border-radius: 4px;
}

.sort__option {
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.option__checked {
  background-color: #CCC;
}

.item__conditions {
  display: inline-flex;
  //width: 150px;
}

.item__no-sorts-label {
  color: #999;
}

.item__add-sort, .item__clear-sorts {
  display: flex;
  //width: 100%;
  padding: 5px;
  border-radius: 4px;
  text-align: left;
  cursor: pointer;
  font-weight: bold;
  color: #666;
}

.item__add-sort:hover, .item__clear-sorts:hover{
  color: #222;
}

.item__no-sorts-label {
  color: #999;
}


.hide {
  display: none;
}