.formView__header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EEE;
}
.extra__button {
  padding: 0 !important;
  cursor: poiner;
}
.btn-form-menu{
    font-weight: 400;
    text-transform: none;
    text-shadow: none!important;
    padding: 10px;
    
}
.btn-form-menu:hover{
  cursor: pointer;
}
.formView__header a{
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}
.formView__header a:hover{
  color: rgba(0, 0, 0, 0.8) !important;
  border-bottom: 0 !important;
}
.first-butn{
  cursor: auto !important;
}

#header__caret {
  margin: 0 10px 0 20px;
}

#view-type__icon {
  display: inline;
}

#view-type__name {
  white-space: nowrap;
}

#header__search {
  position: fixed;
  right: 0;
  margin-right: 20px;
  padding-bottom: 25px;
  opacity: 0.6;
}

@media screen and (max-width: 650px) {
  .menu__text {
    display: none;
  }
}
.form-share-popup-wrapper{
  padding: 10px;
  .form-share-header{
    margin-bottom: 10px;
  }
  .form-share-text{
    margin-bottom: 10px;
  }
  .form-share-btn{
    margin-top: 15px;
    text-align: center;
  }
}