.field_wrapper {
  margin-bottom: 15px;

  .field {
    font-size: 10px;
    margin-left: 14px;
    text-transform: uppercase;
    color: #808080;
  }
  .data {
    width: 100%;
    overflow: hidden;
  }
}
.record_name {
  font-size: 18px;
  margin: 10px;
  font-weight: 600;
}
.fade {
  color: #a3a3a3;
}