.wrapper__table {
  .long-text {
    textarea {
      z-index: 10;
    }
  }
}

.long-text {
  textarea {
    width: 100%;
    height: 146px;
    outline: none;
    border: 2px solid #6495ed;
    border-radius: 1px;
    //z-index: 10;
  }
}

.long-text.selected {
  height: 65px;
}

.long-text.active {
  height: 150px;
}

.long-text.selected {
  .table-cell-wrap {
    .table-cell-inner {
      -webkit-line-clamp: 2 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden;
      white-space: pre-wrap;
    }
  }
}

.long-text.table-cell {
  .table-cell-wrap {
    position: relative;
  }
}

.long-text {
  .table-cell-wrap {
    .table-cell-inner {
      padding: 4px 10px;
      height: 100%;
      display: -webkit-box !important;
      -webkit-line-clamp: 1 !important;
      -webkit-box-orient: vertical !important;
      overflow: hidden;
      white-space: pre-wrap;
      line-height: 24px;
    }
  }
}

