.expand-record-item{
  .Select-control {

    border: 2px solid rgba(0, 0, 0, 0.15) !important;
    }
    input{
      position:absolute;
      top: 0;
      z-index: -1;
    }
    .is-searchable.is-focused:not(.is-open) > .Select-control {
      border: 2px solid rgba(0, 0, 0, 0.15) !important;
    }
}

.content__field.row-options-field {
  width: 35px;
  min-width: 35px;
  margin-top: -0.6px;
}

.field__item.row-options-field {
  width: 35px;
  min-width: 35px;
  min-height: 0px;
  border-right: 0;
  border-left: 0;
}
.content__body:first-child {
  .field__item.row-options-field {
    border-left: 0;
  }
}
.field__item.row-options-field {
  .row-control-container {
    border-top: 0.5px solid rgba(170, 170, 170, 0.1);
    border-left: 0.5px solid rgba(170, 170, 170, 0.1);
    height: 33px;
  }

  // .row-control-container:first-child {
  //   border-top: 0;
  //   height: 32px;
  // }

  .row-control-container:last-child {
    border-bottom: 0;
  }
}

.field__items.row-options-field {
  .content__field.row-options-field {
    height: 33px;
    border-right: 0;

    .row-options-field_lock-icon{
      padding-top: 9px;
      padding-left: 12px;
    }
  }
  .row-options-field {
    .record-dialog-btn {
      position: relative;
      width: 25px;
      height: 28px;
      padding: 0 !important;
      margin: 3px 5px 0 5px;
      cursor: pointer;
      border-left: none;
      text-decoration: none;
      vertical-align: top;
      font-size: 12px;
      color: #2d7ff9;
      background-color: #fff !important;
      opacity: 0;

      .expand.icon {
        color: #2d7ff9;
        display: none;
        position: absolute;
        border-radius: 12px;
        width: 23px;
        height: 23px !important;
        top: 4px;
        left: 3px;
        margin: 0!important;
        background-color: #fff;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        border: 2px solid rgba(204, 204, 204, 0.25);
      }
      .expand.icon:hover {
        border: 2px solid #ccc;
      }
    }
    .record-dialog-btn:hover {
      opacity: 1;
    }
  }
}
.recordDialog-modal {
  position: relative;
  //padding-bottom: 70px;

  .record-details.header {
    position: relative;

    .closeRecordDialogBtn {
      position: absolute;
      right: 0;
      top: 0;
      margin: 0;
      opacity: 0.5;
      cursor: pointer;
    }
  }

  .modal-content {
    padding-right: 0!important;
  }

  .record-details {
    border-bottom: 2px solid rgba(34,36,38,.25)!important;
  }

  .modal-fields-block {
    width: 49%!important;
    padding-left: 14px;
    padding-right: 5px;
    margin-top: 10px;
  }
  .expand-record-item {
    
  .table-cell.date.active {
    z-index: 1000;
  }
  }

  .table-cell-container {
    margin-bottom: 20px;
  }

  .field__item {
    width: 100%;
    border: 0;
  }

  .table-cell {
    position: inherit;
    width: 100%;
    border: none;

    .table-cell-wrap{
      border: none;
    }
  }

  .long-text.active {
    min-height: 150px;
  }

  .modal-field-item {
    margin-bottom: 14px;
    .modal-field-name {
      font-weight: 600;
      font-size: 1.2em;
      padding-bottom: 7px;
    }

    .table-cell.active {
      outline: none;
    }
    .ui.input input,
    input,
    textarea {
      width: 100%!important;
      resize: none!important;;
      border: 2px solid rgba(0,0,0,0.15)!important;;
      border-radius: .28571429rem!important;
    }

    .ui.input input:hover,
    input:hover,
    textarea:hover,
    .attachment_selected:hover {
      border: 2px solid rgba(0,0,0,0.25)!important;;
    }

    .ui.input input:focus,
    input:focus,
    textarea:focus,
    .attachment_selected:focus {
      border: 2px solid #6495ed!important;;
    }
    .table-cell.attachment {
      height: 60px;

        .attachment_cell {
          height: 100%;
          display: inline-block;
          margin-bottom: 15px;
          outline: none;

          .attachment_selected {
            top: 0;
            left: 0;
            border: 2px solid rgba(0, 0, 0, 0.15);
            border-radius: .28571429rem!important;
          }

          input[type="text"].add_file_btn {
            z-index: 0!important;
          }
        }

    }
    .table-cell.autonumber {
      border: 2px solid rgba(0, 0, 0, 0.15);
      border-radius: .28571429rem;
      padding: 16px 9.5px;
      position: relative;

      .table-cell-wrap {
        height: 36px;
        width: 90%;
        position: absolute;
        top: 6px;
        left: 9.5px;

        .table-cell-inner {
          text-align: left;
        }
      }
    }

    .table-cell.autonumber:hover {
      border: 2px solid rgba(0,0,0,0.25);
    }

    .table-cell.autonumber:focus {
      border: 2px solid #6495ed;
    }


    .autonumber {
      position: absolute;
      top: 7px;
      float: none;
      padding: 0;
    }
    .checkbox-block {
        width: 26px;
        height: 26px;

      i.checkbox-square {
        top: 0;
        left: 0;
      }
      i.checkbox-checked {
        top: 5px;
        left: 6px;
      }
    }


  }

  .modal-sidebar-block.description {
    //max-height: calc(70vh);
    width: 49%!important;
    padding: 0 10px 55px 35px;
    margin-bottom: 50px;

    .ui.header {
      //margin: 10px 0;
      margin-bottom: 10px;
      display: inline-block;
    }

    .history-icon {
      font-size: 16px!important;
      line-height: 12px!important;
    }

    .comments-icon {
      font-size: 18px!important;
      line-height: 14px!important;
    }

    .ui.accordion .title:not(.ui) {
      border-radius: 0.48571rem;
      background-color: rgba(144, 143, 143, 0.13);
      margin: 5px 0;
      padding: 0;
    }

    .ui.accordion:not(.styled) .title~.content:not(.ui) {
      background-color: rgba(144, 143, 143, 0.07);
      padding: 0;
    }
  }

  .record-history-item,
  .record-comment-item {
    border-bottom: 1px solid rgba(117, 116, 116, 0.33);
    padding: 15px 10px;
    padding-right: 0;
    margin-right: 15px;
  }

  .record-history-item:last-child {
    border-bottom: none;
  }

  .modal-history {
    //border: 2px solid rgba(243, 232, 84, 0.63);
    border: 2px solid rgba(117, 116, 116, 0.15);
    border-radius: 7px;
    padding: 15px;
    padding-right: 5px;

    //border-bottom: 2px solid rgba(117, 116, 116, 0.66);
    //padding-bottom: 8px;
  }

  .modal-history-list {
    max-height: 55vh!important;
    //min-height: 18vh!important;
    overflow-x: hidden!important;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.28571rem;
  }

  .record-comment-item:last-child {
    border-bottom: none;
  }

  .record-comment-item {
    word-wrap: break-word;


  }


  .record-history-header,
  .record-comment-header {
    margin-bottom: 8px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

  }

  .record-history-field {
    text-transform: uppercase;
    font-size: 11px;
    color: #555555;
    margin-bottom: 8px;
  }

  .record-comment-created,
  .record-history-date {
    color: #999;
    margin-top: 8px;
    font-size: 0.9em;
  }

  .record-history-changed-from{
    text-decoration: line-through solid red;
    font-style: italic;
    margin-bottom: 4px;
    margin-left: 10px;
  }

  .record-history-changed-to{
    text-decoration: underline solid #2ce02c;
    font-style: italic;
    margin-left: 10px;
  }

  .modal-comments {
    margin-top: 15px;
    //border: 2px solid rgba(84, 243, 222, 0.5);
    border: 2px solid rgba(117, 116, 116, 0.15);
    border-radius: 7px;
    padding: 15px;
    padding-right: 5px;
  }

  .comments-block {
    max-height: 55vh!important;
    //min-height: 18vh!important;
    border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.28571rem;
    margin-bottom: 55px;
  }

  .user-comment-info {
    position: absolute;
    bottom: 20px;
    //padding-top: 21px;
    //border-top: 2px solid rgba(117, 116, 116, 0.66);

    .username {
      max-width: 119px;//119
      margin-left: 20px;
      margin-right: 20px;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      top: 10px;
    }
    .ui.avatar.image {
      //float: left;
      position: relative;
      top: -4px;
    }

    .ui.input input {
      border: 2px solid rgba(0,0,0,0.15);
      margin: 0;
      margin-top: 5px;
      float: right;
    }

    .ui.input input:hover {
      border: 2px solid rgba(0,0,0,0.25);
    }

    .ui.input input:focus {
      border: 2px solid #6495ed;
    }
  }
  .user-comment-info + span + span {
    display: inline-block;
    float: left;
  }
}


@media screen and (max-width: 1360px) {
  .modal {
    .comments-block {
      max-height: 40vh!important;
    }
  }
}