.content__field.row-options-field {
  width: 25px;
  min-width: 25px;
}

.field__item.row-options-field {
  width: 25px;
  min-width: 25px;
  min-height: 25px;
}

.field__items.row-options-field {
  .row-options-field {
    .record-dialog-btn {
      position: relative;
      width: 25px;
      height: 33px;
      padding: 0 !important;
      margin: 0;
      cursor: pointer;
      border-left: none;
      text-decoration: none;
      vertical-align: top;
      font-size: 12px;
      color: #2d7ff9;
      background-color: #fff !important;

      .expand.icon {
        color: #2d7ff9;
        display: none;
        position: absolute;
        border-radius: 12px;
        width: 23px;
        height: 23px !important;
        top: 4px;
        left: 3px;
        margin: 0;
        background-color: #fff;
      }
      .expand.icon /*.hover*/ {
        border: 2px solid #ccc;
        display: -webkit-box !important;
        display: -webkit-flex !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        -ms-grid-row-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
}
.modal {
  position: relative;
  padding-bottom: 70px;
  //min-height: 500px!important;
  //max-height: 80vh;

  .modal-fields-block {
    min-width: 54%!important;
    padding-left: 14px;
    padding-right: 35px;
    margin-top: 10px;
  }

  .text-line,
  .long-text,
  .number {
    .table-cell-wrap {
      border: 1px solid #dde1e3;
    }
  }

  .table-cell-container {
    margin-bottom: 20px;
  }

  .field__item {
    width: 100%;
    border: 0 solid #AAA;
  }

  .table-cell {
    position: inherit;
    width: 100%;
    border: none;

    .table-cell-wrap{
      border: none;
    }
  }

  .long-text.active {
    min-height: 150px;
  }

  .modal-field-item {
    margin-bottom: 10px;

    .ui.input input, textarea {
      resize: none;
      border: 2px solid rgba(0,0,0,0.15);
      border-radius: .28571429rem;
      padding: 16px 9.5px;
    }

    .ui.input input:hover, textarea:hover {
      border: 2px solid rgba(0,0,0,0.25);
    }

    .ui.input input:focus, textarea:focus {
      border: 2px solid #6495ed;
    }

    .modal-field-name{
      font-weight: 600;
      font-size: 1.2em;
    }
  }

  .modal-sidebar-block {
    max-width: 44%!important;
    padding-left: 35px;
    padding-right: 20px;
    //flex-direcrion:column;
    //justify-content: center;

    .ui.header {
      margin: 10px 0;
    }
  }

  .record-history-item,
  .record-comment-item {
    border-bottom: 1px solid rgba(117, 116, 116, 0.33);
    padding: 15px 10px;
  }

  .record-history-item:last-child {
    border-bottom: none;
  }

  .modal-history {
    border-bottom: 2px solid rgba(117, 116, 116, 0.66);
    padding-bottom: 8px;
    //overflow-x: hidden;
  }

  .modal-history-list {
    max-height: 30vh!important;
    overflow-x: hidden!important;
  }

  .record-comment-item:last-child {
    border-bottom: none;
  }

  .record-comment-item {
    word-wrap: break-word;
  }

  .record-history-header,
  .record-comment-header {
    margin-bottom: 8px;
    font-size: 0.9em;
  }

  .record-history-field {
    text-transform: uppercase;
    font-size: 11px;
    color: #555555;
    margin-bottom: 8px;
  }

  .record-comment-created,
  .record-history-date {
    color: #999;
    margin-top: 8px;
    font-size: 0.9em;
  }

  .record-history-changed-from{
    text-decoration: line-through solid red;
    font-style: italic;
    margin-bottom: 4px;
    margin-left: 10px;
  }

  .record-history-changed-to{
    text-decoration: underline solid #2ce02c;
    font-style: italic;
    margin-left: 10px;
  }

  .modal-comments {
    margin-top: 15px;
  }

  .comments-block {
    max-height: 30vh!important;
  }

  .user-comment-info {
    position: absolute;
    bottom: 20px;
    padding-top: 21px;
    border-top: 2px solid rgba(117, 116, 116, 0.66);

    .ui.input input {
      border: 2px solid rgba(0,0,0,0.15);
      margin-left: 20px;
    }

    .ui.input input:hover {
      border: 2px solid rgba(0,0,0,0.25);
    }

    .ui.input input:focus {
      border: 2px solid #6495ed;
    }
  }
}