
.tabs_panel {
  padding: {
    left: 30px;
    right: 65px;
  }
  height: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  user-select: none;

  .btn_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-end;

    .tabs_block {
      margin-bottom: 3px;
    }
    .add_btn {
      display: inline-block;
      margin-left: 5px;
      margin-bottom: 4px;
      font-size: 10px;
    }
  }

  .history {
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    //margin-bottom: 5px;


    .header-icon {
      font-size: 16px;
      margin-top: 3px;
    }

    .ui.circular.label.share_btn {
      padding: 6px 12px !important;
      margin-right: 8px;
    }
  }
}