
.tabs_panel {
  padding: {
    left: 20px;
    right: 20px;
  }
  display: flex;
  justify-content: space-between;
  align-items: center;

  .btn_block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .ui.inverted.button.active:focus {
      background-color: #fff !important;
      box-shadow: none !important;
    }

    a:hover {
      border-bottom: none;
    }

    .tabs_block {
      margin-bottom: -3px;
    }
    .add_btn {
      display: inline-block;
      margin-left: 10px;
    }
  }

}