.home-page-body
  .team-wrapper 
    .team-block-wrapper {
      text-align: center;
      border-top: 2px solid #EFEFEF;
      padding: 20px 0px 20px 0px;
      width: 750px;
}
.home-page-body
  .team-wrapper 
      .team-header{
        margin-bottom: 10px; 
        margin-left: 10px;
        font-size: 18px;
        display: flex;
}

.home-page-body 
  .team-wrapper
    .base-list {
      display: flex;
      margin-left: 25px;
      justify-content: left;
      flex-wrap: wrap;
}
.home-page-body 
  .team-wrapper
    .team-header
      .team-name-wrapper{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 150px;
}
.home-page-body 
  .team-wrapper
    .base-list
      .base-wrapper {
        margin: 10px; 
      }
.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper{
        position: relative;
        border: 1px solid white;
        width: 100px;
        height: 90px;
        background-color: #C3C8B7;
        text-align: center;
}

.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper
        .one-base {
          border:1px solid white;
          height: 100%;
}
.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper
        .one-base 
          .one-base-icon{
            margin-top: 13px;
}

.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper
        .menu-icon-wrapp {
          position: relative;
          margin-top: -15px;
}

.home-page-body 
  .team-wrapper
    .base-list
      .one-base-wrapper
        .menu-icon-wrapp
          .setting {
            padding-left: 20px;
}

.home-page-body 
  .team-wrapper
    .base-list
      .btn-add-base{
        width: 98px;
        height: 90px;
        margin: 10px;
        margin-top: 30px;
        font-size: 65px;
        padding: 33.5px 0 33.5px 0;
        border:1px solid white;
        height: 100%;
        cursor: pointer;
        color: #C3C8B7;
        background-color: #f5f5f5;
}
.home-page-body 
  .team-wrapper
    .base-list
      .btn-add-base:hover{
        background-color: #ddd;
}
