.home-page-header {
  #user-info {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
  }
}

.dashboard_header {
  #user-info {
    a {
      color: #FAFAFA;
    }
  }

  #user-info:hover {
    a {
      border-bottom: 2px solid #FAFAFA;
    }
  }
}
#user-info 
  .user-profile-logout-wrapper {
    padding-left: 30px;
  }
.user-profile-wrapper {
  text-align: center;
  // border: 1px solid gray;
  margin-top: 150px;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
}
.user-profile-photo-wrapper{
  text-align: center;
}
.user-profile-change-photo-button {
  margin-top: 10px;
  
}
.user-profile-info {
  width: 700px;
  margin-left: 10px;
}
.user-profile-submit-btn {
  text-align: right;
}
#user-info
  a:hover {
    border-bottom: 0 !important;
    color: blue !important;
}
.user-profile-form
  .ui.form input[type=date] {
    color: #C7C7C7 !important;
  }