.home-page-header {
  #user-info,
  .user-profile-logout-wrapper {
    float: right;
    margin-right: 18px;
    margin-top: 10px;
    a {
      color: #aa9d9d !important;;
    }
  }
}

.user-profile-wrapper {
  text-align: center;
  margin-top: 150px;
  padding-left: 50px;
  box-sizing: border-box;
  display: flex;
}

#user-info {
  a {
    position: relative;
  }
  .user-status {
    display: block;
    position: absolute;
    right: 5px;
    bottom: -7px;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    box-shadow: 0 0 0 1px rgba(255,255,255,0.75);
    //background-color: #20c933;
  }
}
.user-profile-wrapper
  .user-profile-photo-wrapper{
    text-align: center;
}
.user-profile-photo-wrapper
  .change-avatar-input {
    margin-top: 10px;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    padding: 10px;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 1px transparent inset
}

.user-profile-wrapper
  .user-profile-info {
    width: 700px;
    margin-left: 10px;
}

.user-profile-wrapper
  .user-profile-submit-btn {
    text-align: right;
    margin-top: 10px;
}

#user-info
  a:hover {
    border-bottom: 0 !important;
    color: blue !important;
}
.user-profile-form
  .ui.form input[type=date] {
    color: #C7C7C7 !important;
  }
.user-profile-form
  .form-block {
    display: flex;
    justify-content: space-between;
}
.form-block
  .form-input-block{
    width: 50%;
    padding-left: .5em;
    padding-right: .5em;
    flex: 0 1 auto;
    clear: both;
    margin-bottom: 10px;
}
.form-block
  .form-input-block
    label{
      display: block;
      margin: 0 0 .28571429rem 0;
      color: rgba(0,0,0,.87);
      font-size: .92857143em;
      font-weight: 700;
      text-transform: none;
      opacity: 0.75;
  }
.form-block
  .form-input-block 
    .user-profile-form-input{
        flex: 1 0 auto;
        box-sizing:border-box;
        margin: 0;
        width: 100%;
        flex: 1 0 auto;
        outline: 0;
        text-align: left;
        line-height: 1.21428571em;
        font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
        padding: .67857143em 1em;
        background: #fff;
        border: 1px solid rgba(34,36,38,.15);
        color: rgba(0,0,0,.87);
        border-radius: .28571429rem;
        transition: box-shadow .1s ease,border-color .1s ease;
        box-shadow: none;
}