.home-page-header {
  border-bottom: 2px solid #F5F5F5;
  background-color: #f4f4fe;
  padding: 2px;
  position: fixed;
  top: 0;
  width:100%;
  z-index: 2;
}
.logo {
  width: 160px;
  margin-left: 10px;
  padding: 10px;
}

.new-base-wrapper {
  margin-top: 200px;
}