.home-page-wrapper
  .home-page-body {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.home-page-header {
    border-bottom: 2px solid #F5F5F5;
    background-color: #f4f4fe;
    padding: 2px;
    position: fixed;
    top: 0;
    width:100%;
    z-index: 2;
}
.home-page-header
  .logo {
    width: 160px;
    margin-left: 10px;
    padding: 10px;
}
.home-page-header
  a:hover {
    border-bottom: 0 !important;
}
.user-profile-logout-wrapper {
    padding-top:5px;
    a {
        color: #aa9d9d !important;
    }
}
