.one-base-wrapper{
  position: relative;
  border: 1px solid white;
  width:100px;
  height:90px;
  margin: 5px; 
  background-color: #D0FF51;
  text-align: center;
}
.menu-icon-position {
  margin-left: 70px;
  margin-top: -30px;
}
.one-base {
  border:1px solid white;
  height: 100%;
}
.one-base-icon{
  margin-top: 18px;
}