.formContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 24px 24px 48px 288px;
    
    .form-wrapper {
        display: block;
        position: static;
        background: #fafafa;
        box-shadow: 0 0 0 2px rgba(0,0,0,0.1);
        border-radius: 6px;
        padding-bottom: 25px;
    
        .formHeaderContainer {
             overflow: hidden;
        }
        .container1{    
            width: 100%;
            box-sizing: border-box;
        }
        .container2{
            position: relative;
        }
        .cover-image {
            height: 190px;
            background-position: center center;
            position: relative;
            width: 100%;
            box-sizing: border-box;
        }
        .cover-image2{
            background-image: url('../../../../../images/background-form.png');
            background-size: cover;
            opacity: 0.5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;
        }
        .form-name-block-wrapper{
            position: relative;
            z-index: 1;
            width: 100%;
            box-sizing: border-box;
            margin-top: -90px;
            margin-right: 25%;
            max-width:100%;
        }
        .form-name-block {
            margin-left: 14%;
            margin-right: 14%;
            padding: 32px; 
            background-color: #ffffff;
            display: block;
            position: relative;
            box-sizing: border-box;
            border-radius: 6px;
        }
        .form-name-logo {
            height: 60px;
            max-width: 200px;
            padding: 2% 7% 2% 0;
        }
        .form-name-logo img {
          width: 95%
        }
        .form-name {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 25px;
            border-radius: 6px;
            white-space: pre-wrap;
            overflow-x: hidden;
            color: rgb(100, 100, 100);
            font-size: 27px;
            line-height: 36px;
            font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
            font-weight: bold;
        }
        .form-description {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 25px;
            font-size: 20px;
            color: rgb(100, 100, 100);
        }
        .form-inputs-list-wrapper{
            margin-left: 14%;
            margin-right: 14%;
        }
        .form-inputs-list{
            position: relative;
            padding-top: 2rem;
            padding-bottom: 2rem;
            text-align: center;
        }
        .form-inputs-list-item{
            margin: 0 auto; 
            position: relative;
            box-shadow: none;
            z-index: 0;
            top: 0;
            background: #fafafa;
            border-radius: 6px;
            padding: 15px;
            .field__item{
                width:87%;
                box-sizing: border-box;
                text-align: left;
                height: 40px;
                .table-cell-wrap {
                    width:325px;
                    box-sizing: border-box;
                    border: 2px solid rgba(0,0,0,0.1);
                    text-align: center;
                    height: 40px;
                    background-color: white;

                }
                .table-cell-wrap:hover{
                    border: 2px solid rgba(77, 144, 254, 0.5);
                }
                .table-cell-wrap input {
                    padding: 10px;
                    width:320px;
                    height: 35px;
                }
                .table-cell.active {
                    border: none;
                }
                .long-text.active {
                    min-height: 150px;
                }
            }
        }
        .form-inputs-list-item:hover{
            background-color: #F0F0F0;
            height: auto;
        }

        .form-inputs-name{
            text-align: left;
            font-size: 18px;
            font-weight: 400;
            color: rgb(77, 77, 77);
            margin-bottom: 15px;
            margin-left: 5px;
        }
        .form-inputs-delete{
            float: right;
        }
        .submit-btn{
            width: 100%;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}