.attachment {
  outline: none;
}
.image_modal_content.content {
  display: flex !important;
  justify-content: center;
  .image_modal {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
  }
}

.attachment_default {
  padding-left: 5px;
  padding-top: 2px;
  overflow: hidden;
  text-overflow: ellipsis;

  .preview_wrapper {
    margin-top: -4px;
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .image_icon {
      margin-right: 5px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 28px;
      height: 28px;
    }
  }



}
.wrapper__table {
  .table-cell.attachment {
    .attachment_cell {
      z-index: 800;
      .attachment_selected {
        z-index: 999;

        &:after {
          z-index: 900;
        }

        input[type='file'] {
          z-index: 1002 !important;
          border: 0px !important;
        }

        input[type="text"].add_file_btn {
          z-index: 0;
        }

        .images_wrapper {
          .around_image {
            .attachment_file {
              z-index: 1004;
            }
          }
        }
      }
    }
  }
}

.attachment_cell {
  position: relative;
  padding-left: 30px;
  outline: none;

  .attachment_selected {
    background-color: #fff;
    position: absolute;
    //z-index: 999;
    border: 2px solid #6495ed;
    padding: 5px;
    //border-radius: 5px;
    top: -15px;
    left: -10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow: initial;
    min-width: 155px;

    &:after {
      content: '+';
      position: absolute;
      //z-index: 900;
      font-size: 3rem;
      color: #8C8C8C;
      left: 13px;
    }

    input[type=file] { width: 300px; border: 2px solid red; }

    .add_file_btn {
      position: relative;
      //z-index: 1;
      display: inline-block;
      width: 40px !important;
      height: 40px;
      text-transform: none;
      text-shadow: none;
      outline: none;
      font-size: 4px;
      border: none;
      border-radius: 5px;
      background-color: #cbcbcb;
      color: #cbcbcb;
      text-align: center;
      opacity: .8;
      margin-right: 10px;
      cursor: pointer;
    }

    .images_wrapper {
      display: flex;
      justify-content: space-around;
      align-items: center;

      .around_image {
        width: 45px;

        .attachment_file {
          //z-index: 1004;
          border-radius: 5px;

          &:hover {
            cursor: pointer;
          }
        }
      }


    }
  }
}

.table-cell.attachment .table-cell-wrap .table-cell-inner {
  overflow: initial;
}