.team-header {
  margin-bottom: 10px;
  margin-left: 10px;
  padding-bottom: 5px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #EFEFEF;
  align-items: flex-end;

  .team-name-wrapper {
    text-align: left;
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 150px;

    &:hover {
      cursor: pointer;
      opacity: .8;
    }
  }

  .share_block {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    .team_collaborators {
      display: flex;
    }

    .share_btn {
      background: #0BC549;
      color: #ffffff;
      font-size: 12px;
      border-radius: 20px;
      padding: 3px 12px;
    }
  }

}
.share_modal {

  .share_modal_header {
    font-size: 16px !important;
  }
  .share_modal_content {
    h5 {
      font-weight: 100;
    }
    .share_modal_main {
      background-color: #F2F2F3;
      padding: 15px 20px 30px;
      border-radius: 5px;
      margin-bottom: 20px;

      .modal_radio_btn {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 20px;

        input[type='radio'] {
          display: none;
        }
        label {
          margin-right: 20px;
        }
        input[type="radio"]:checked + label {
          border-bottom: 2px solid #4d4d4e;
        }
        input[type="radio"] + label {

          &:hover {
            cursor:pointer;
            border-bottom: 2px solid #4d4d4e;
          }
        }
      }

      .modal_main_email {
        .modal_main_row {
          display: flex;
          margin-top: 10px;

          .ui.input {
            flex-grow: 2;
            margin-right: 10px;
          }
          .role_dropdown {
            min-width: 112px !important;
          }
          .ui.primary.button, .ui.primary.buttons .button {
            margin-right: 0;
          }
        }
      }
    }

    .team_members {

      .member_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 40px;

        .popup_mainpart {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          text-align: left;
          background-color: #fff;

          .popup_logo {
            background: no-repeat center;
            width: 45px;
            height: 45px;
            margin: 5px 10px;
          }
          .user_data {
            text-align: left;
            margin: auto 10px;

            .user_name {
              font-size: 16px;
            }
            .user_email {
              color: #808080;
              font-size: 12px;
            }
          }

        }

        .role_settings {
          .role_dropdown {
            min-width: 112px !important;
          }
          .delete_icon {
            margin-left: 10px;
            margin-right: -30px;
          }
        }

      }

    }
  }

}