#form_desription,
.ui.green.large.label.success{
  width: 400px!important;
  text-align: left;
  font-size: 16px;
}

#forgot-footer {
  a {
    margin-top: 20px;
    float: left;
  }
}

#forgotBtn {
  font-size: 18px;
  padding: 18px;
}
