.stack_modal {

  h4 {
    margin-left: 30px;
    margin-bottom: 25px;
  }

  .stacked_radio_block {
    .radio_btn {
      display: flex;
      justify-content: flex-start;
      align-items: center;


      input[type='radio'] {
        margin-top: 3px;
        margin-right: 10px;
        &:hover {
          cursor: pointer;
        }
      }
      label {
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }

    }
  }
}