.email {
  .ui {
    height: 100%;
  }
}
.email.selected {
  width: 100%;
  line-height: 14px;

  &:focus {
    outline: none;
  }

  .email {
    background-color: #fff;
    position: absolute;
    display: block;
    margin-top: 7px;
    margin-left: 9px;
    color: #4183c4;

    &:hover {
      cursor: pointer;
    }
  }
}
.table-cell-wrap{
  position: relative;
}

.email {
  .table-cell-wrap {
    .table-cell-inner {
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 4px 10px;
      height: 100%;
      width: 100%;
      line-height: 24px;

      &:focus {
        outline: none;
      }
    }
  }
}