.download-csv {
    display: inline-flex;
    width: 100%;
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
      color: white;
      text-decoration: none;
      border-bottom: none;
    }
}

.dropzone-wrapper {
    display: inline-flex;
    width: 100%;
    .dropzone {
        i.large.icon {
            color: white;
        }
    }
}